.dropdown-toggle::after {
  display:none;
}
.bi-box-arrow-in-right::before {
  font-size: 2em;
  color: #D0A85C;
}
.h1-title {
  color: #D0A85C;
  font-size: 1.3em;
  margin: 8px 0 0 0;
}
.header-container {
  background-color: #0B1425;
}
.region-img {
  width: 80%;
}
.dropdown-menu {
  background-color: #0B1425;
  border: #D0A85C solid 1px;
}
.dropdown-link {
  color: #D0A85C;
}
.dropdown-link:hover {
  background-color: #D0A85C;
  color: #0B1425;
 }
.icon-n4l {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  border: #7f847d solid 1px;
  margin: 5px auto 0 auto;
  background-image: url("src/assets/img/icon-n4l.jpg");
  background-size: contain;
}
.border-container {
  border-bottom: #7f847d solid 1px;
}

