<div class="container header-container fixed-top">
    <div>
      <div ngbDropdown>
        <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3-2" role="button">
          <img class="region-img" src="assets/img/region.png" alt="region">
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3-2" class="dropdown-menu">
          <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()">Korea</a>
          <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()">North America</a>
          <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()">Brazil</a>
          <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()">Europe West</a>
          <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()">Oceania</a>
          <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()">Europe Nordic & East</a>
        </div>
      </div>
    </div>
  <div class="mb-2">
    <h1 class="h1-title">Need 4 Legends</h1>
  </div>
    <div>
  <div ngbDropdown>
      <a class="nav-link" tabindex="0" ngbDropdownToggle id="navbarDropdown3" role="button">
        <i class="bi bi-box-arrow-in-right"></i>
      </a>
    <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu" *ngIf="!token;else elseblock">
      <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/login">Sign in</a>
      <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/register">Sign Up</a>
      <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/search">Search</a>
    </div>
    <ng-template #elseblock>
      <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu"  >
        <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/login">You are connected</a>
        <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/register">Sign Up</a>
        <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/search">Search</a>
        <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/algo">Matchmaking</a>
        <a class="dropdown-link" ngbDropdownItem href="#" (click)="$event.preventDefault()" routerLink="/logout">Sign out</a>
      </div>
    </ng-template>
  </div>
  </div>
</div>
