.dropdown-toggle::after {
  display:none;
}
.bi-box-arrow-in-right::before {
  font-size: 2em;
  color: #D0A85C;
}
.h1-title {
  color: #D0A85C;
  font-size: 1.5em;
  margin: 8px 0 0 0;
}
.header-container {
  background-color: #0B1425;
}
.region-img {
  width: 1.5rem;
}
.dropdown-menu {
  background-color: #0B1425;
  border: #D0A85C solid 1px;
}
.dropdown-link {
  color: #D0A85C;
}
.dropdown-link:hover {
   background-color: #D0A85C;
  color: #0B1425;
 }

