.navbar-link {
  text-align: center;
  color: #0B1425;
  font-weight: 700;
}
.nav-tabs {
  justify-content: space-around;
  background-color: #7f847d;
}
.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
  color: #D0A85C;
  background-color: #0B1425;
  border-color: #D0A85C #D0A85C #D0A85C;
}
.nav-tabs .nav-link {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  border-top-left-radius: unset;
  border-top-right-radius: unset;
  border-top: unset;
}
