<div class="content">
  <img src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="" id="profilpic">
  <div class="match" *ngFor="let match of arrayMatches.match">
    <p>{{ match.matchId }}</p>
    <span class="vertical-line green"></span>
    <div class="matchleft">
      <img src="assets/img/Rell.png" alt="">
      <div class="spells">
        <img src="assets/img/SummonerSnowball.png" alt="">
        <img src="assets/img/SummonerFlash.png" alt="">
      </div>
      <div class="runes">
        <img src="assets/img/8439.png" alt="">
        <img src="assets/img/8300.png" alt="">
      </div>
    </div>
    <div class="matchright" *ngFor="let stat of arrayMatches.stats">
      <div *ngIf="stat.summoner=='azerty' && stat.matchId==match.matchId">
      <div class="text" >
        <p>{{ stat.kills}} / <span class="death">{{ stat.deaths}}</span> / {{ stat.assists}}</p>
        <div>
          <p>Ranked Solo</p>
          <p>Il y a 12h</p>
        </div>
      </div>


      <div class="imgs">
        <img src="assets/img/8439.png" alt="">
        <img src="assets/img/8300.png" alt="">
        <img src="assets/img/8300.png" alt="">
        <img src="assets/img/8300.png" alt="">
        <img src="assets/img/8300.png" alt="">
        <img src="assets/img/8300.png" alt="">
        <img src="assets/img/8300.png" alt="">
        <img src="assets/img/8300.png" alt="">
        <img src="assets/img/8300.png" alt="">
      </div>

      <div class="text">
        <p>6.00 KDA</p>
        <p>282 CS (8.3)</p>
      </div>
      </div>
    </div>
  </div>
</div>
