<div class="content">
  <img src="http://ddragon.leagueoflegends.com/cdn/10.15.1/img/profileicon/{{ arrayMatches['matchs'][0]['user'][0]['userStat']['profilIcon'] }}.png" alt="" id="profilpic">
  <span *ngFor="let match of arrayMatches['matchs']" style="width: 100%">
    <span *ngIf="match['user'][0]['userParticipant']['win'] == 'Win';else loseDiv">
  <div class="match win" #winBlock>
    <p>Victoire {{ match['user'][0]['userParticipant']['gameDuration']['timestamp']|timestamp }}</p>
    <span  class="vertical-line green"></span>
    <div class="matchleft">
      <span *ngFor="let champion of arrayChampions.keys(arrayChampions)">
        <section *ngIf="arrayChampions[champion]['KeyChampion']==match['champion']">
          <img src="//opgg-static.akamaized.net/images/lol/champion/{{ arrayChampions[champion]['Image']['full'] }}?image=c_scale,q_auto,w_46&v=1635906101" alt="">
        </section>
      </span>
      <div class="spells">
        <span *ngFor="let summoner of arraySummoners">
           <img *ngIf="summoner['keySummoners']==match['user'][0]['userStat']['spell1Id'] || summoner['keySummoners']==match['user'][0]['userStat']['spell2Id']"
                src="//opgg-static.akamaized.net/images/lol/spell/{{ summoner['image'] }}?image=c_scale,q_auto,w_22&v=1635906101" alt="">
          </span>
      </div>
      <div class="runes">
        <img src="//opgg-static.akamaized.net/images/lol/perk/{{ match['user'][0]['userStat']['perk0'] }}.png?image=c_scale,q_auto,w_22&v=1635906101" alt="">
        <img src="//opgg-static.akamaized.net/images/lol/perk/{{ match['user'][0]['userStat']['perk5'] }}.png?image=c_scale,q_auto,w_22&v=1635906101" alt="">
      </div>
    </div>
    <div class="matchright">
      <div class="text" >
        <p>{{ match['user'][0]['userStat']['kills'] }} / <span class="death">{{ match['user'][0]['userStat']['deaths'] }}</span> /
          {{ match['user'][0]['userStat']['assist'] }}</p>
        <div>
          <p>{{ match['user'][0]['userParticipant']['gameMode'] }} </p>
          <p>{{ match['user'][0]['userParticipant']['gameCreation']['timestamp']*1000| date: 'dd-MM-yyy'}}</p>
        </div>
        <div class="imgs" *ngFor="let item of match['user'][0]['userStat']['item']">
            <img src="https://opgg-static.akamaized.net/images/lol/item/{{ item }}.png?image=c_scale,q_auto,w_22&v=1635906101" alt="">
        </div>
        <div class="text">
          <p>{{ ((match['user'][0]['userStat']['kills']+ match['user'][0]['userStat']['assist'])/ match['user'][0]['userStat']['deaths'])| number  }} KDA</p>
          <p>{{ match['user'][0]['userStat']['totalMinionsKilled'] }} CS</p>
        </div>
      </div>
    </div>

  </div>
</span>

    <ng-template #loseDiv>
     <div class="match lose">
    <p>Défaite {{ match['user'][0]['userParticipant']['gameDuration']['timestamp']|timestamp }}</p>
    <span  class="vertical-line red"></span>
    <div class="matchleft">
      <span *ngFor="let champion of arrayChampions.keys(arrayChampions)">
        <section *ngIf="arrayChampions[champion]['KeyChampion']==match['champion']">
          <img src="//opgg-static.akamaized.net/images/lol/champion/{{ arrayChampions[champion]['Image']['full'] }}?image=c_scale,q_auto,w_46&v=1635906101" alt="">
        </section>
      </span>
      <div class="spells">
        <span *ngFor="let summoner of arraySummoners">
           <img *ngIf="summoner['keySummoners']==match['user'][0]['userStat']['spell1Id'] || summoner['keySummoners']==match['user'][0]['userStat']['spell2Id']"
                src="//opgg-static.akamaized.net/images/lol/spell/{{ summoner['image'] }}?image=c_scale,q_auto,w_22&v=1635906101" alt="">
          </span>
      </div>
      <div class="runes">
        <img src="//opgg-static.akamaized.net/images/lol/perk/{{ match['user'][0]['userStat']['perk0'] }}.png?image=c_scale,q_auto,w_22&v=1635906101" alt="">
        <img src="//opgg-static.akamaized.net/images/lol/perk/{{ match['user'][0]['userStat']['perk5'] }}.png?image=c_scale,q_auto,w_22&v=1635906101" alt="">
      </div>
    </div>
    <div class="matchright">
      <div class="text" >
        <p>{{ match['user'][0]['userStat']['kills'] }} / <span class="death">{{ match['user'][0]['userStat']['deaths'] }}</span> /
          {{ match['user'][0]['userStat']['assist'] }}</p>
        <div>
          <p>{{ match['user'][0]['userParticipant']['gameMode'] }} </p>
          <p>{{ match['user'][0]['userParticipant']['gameCreation']['timestamp']*1000| date: 'dd-MM-yyy'}}</p>
        </div>
        <div class="imgs" *ngFor="let item of match['user'][0]['userStat']['item']">
            <img src="https://opgg-static.akamaized.net/images/lol/item/{{ item }}.png?image=c_scale,q_auto,w_22&v=1635906101" alt="">
        </div>
        <div class="text">
          <p>{{ ((match['user'][0]['userStat']['kills']+ match['user'][0]['userStat']['assist'])/ match['user'][0]['userStat']['deaths'])| number  }} KDA</p>
          <p>{{ match['user'][0]['userStat']['totalMinionsKilled'] }} CS</p>
        </div>
      </div>
    </div>

  </div>
      </ng-template>
    </span>
</div>
