<div class="content">
  <h2 class="title">Sign In</h2><br>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" id="formlogin">
    <span class="p-float-label">
      <input id="float-input-email" type="email" formControlName="email" pInputText>
      <label for="float-input-email">Email</label>
    </span>
    <span class="p-float-label">
      <input id="float-input-password" type="password" formControlName="password" pInputText>
      <label for="float-input-password">Password</label>
    </span>
    <button pButton type="submit" class="p-button-raised">Log In</button><br>
    <p>Don't you have an account ? <a href="/register">Sign Up</a> </p>
  </form>
</div>
