<div class="container">
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <span class="p-float-label">
    <input id="float-input-email" type="email" formControlName="email" pInputText>
    <label for="float-input-email">Email</label>
  </span>
    <span class="p-float-label">
    <input id="float-input-password" type="password" formControlName="password" pInputText>
    <label for="float-input-password">Mot de passe</label>
  </span>
    <button pButton type="submit" class="p-button-raised">Valider</button>
  </form>
</div>
