<div class="content">
  <h2>Search the better player !</h2><br>
  <form [formGroup]="algoForm" (ngSubmit)="onSubmit()">
    <div class="input">
      <p-triStateCheckbox formControlName="aggressive" label="Dominant Player"></p-triStateCheckbox>
      <input type="number" id="aggressivePlayer" formControlName="aggressivePlayer" min="0" max="4" placeholder="0">
    </div>
    <br>
    <div class="input">
      <p-triStateCheckbox formControlName="objective" label="Objective Player"></p-triStateCheckbox>
      <input type="number" id="objectivePlayer" formControlName="objectivePlayer" min="0" max="4" placeholder="0">
    </div>
    <br>
    <div class="input">
      <p-triStateCheckbox formControlName="safe" label="Safe Player"></p-triStateCheckbox>
      <input type="number" id="safePlayer" formControlName="safePlayer" min="0" max="4" placeholder="0">
    </div>
    <br>
    <div class="input">
      <p-triStateCheckbox formControlName="all" label="Show all"></p-triStateCheckbox>
    </div>
    <br>
    <button pButton type="submit" class="p-button-raised">Serach !</button>
  </form>
</div>
