.p-float-label label{
  width: max-content;
}
label{
  color: #D0A85C;
}
.input input{
  margin-left: 25px;
}
ul li{
  color: #fff;
}
.result-algo{
  width: 95%;
  padding: 25px;
  border: 5px solid #D0A85C;
}
hr{
  height: 3px ;
  color: #D0A85C;
}

.imp{
  color: #D0A85C !important;
  font-weight: bold;
}
.result-algo li{
  width: 100% ;
}
.result-algo p{
  color: white !important;
}
.result-algo h2{
  color: #fff  !important;
}