@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "app/footer/footer.component.css";
@import "app/header/header.component.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "app/match/match.component.css";

body {
 background-color: #0B1425!important;
}

a, a:visited, a:hover {
  color: black;
  text-decoration: none;
}

div#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  height: 250px;
  border: 2px solid;
  --angle: 0deg;
  border-image: linear-gradient(var(--angle), black 10%, #D0A85C) 10;
  animation: 10s rotate linear infinite;
  background-image: url("assets/img/bg-inscristoi-2.jpg");
  background-size: cover;
}
@keyframes rotate {
  to {
    --angle: 360deg;
  }
}
@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

a#signup img {
  margin-top: 1em;
}

div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.5rem;
  padding-top: 4rem;
}
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "app/match/match.component.css";

