@import "../node_modules/ngx-toastr/toastr.css";
@import "../node_modules/primeicons/primeicons.css";
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "app/footer/footer.component.css";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "app/match/match.component.css";

/*REGISTER STYLE*/
body {
  background-color: #0B1425;
}

h1 {
  color: #cdc5c2;
}

div.register {
  display: flex;
  flex-direction: column;
  align-items: center;
}

p, a {
  color: #cdc5c2;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.p-float-label, p-selectButton {
  margin-bottom: 1.6rem;
}

button.p-button {
  background-color: #d0a85c;
  border: 1px solid #d0a85c;
  color: #0b1425;
  font-weight: bold;
}

.p-selectbutton .p-button.p-highlight, .p-selectbutton .p-button.p-highlight:hover {
  background: #d0a85c;
  border-color: #d0a85c;
  color: #0b1425;
}
/*FIN REGISTER STYLE*/

body {
  background-color: #0B1425!important;
}

a, a:visited, a:hover {
  color: black;
  text-decoration: none;
}

a#signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #cdc5c2;
  width: 100%;
  border-radius: 5px;
  border: black 2px dashed;
}

a#signup img {
  margin-top: 1em;
}
/* You can add global styles to this file, and also import other style files */
@import "../node_modules/primeng/resources/themes/saga-blue/theme.css";
@import "../node_modules/primeng/resources/primeng.min.css";
@import "../node_modules/primeicons/primeicons.css";
@import "app/match/match.component.css";

