div.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img#profilpic {
  border: 2px solid #d0a85c;
  width: 5rem;
  margin-bottom: 3rem;
  border-radius: 100%;
}

form {
  height: 25px;
  display: flex;
  justify-content: center;
}

input[name="searchbar"] {
  background-color: #cdc5c2;
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding-left: 10px;
  height: 100%;
  width: 15rem;
}

input[name="searchbar"]::placeholder {
  color: black;
}

input[name="searchbar"]:focus {
  outline: none;
}

button[type="submit"] {
  border:none;
  background-color: #cdc5c2;
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

img#searchicon {
  width: 15px;
}

a#signup {
  margin-top: 3rem;
}
