<div class="content">
  <img src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="" id="profilpic">
  <div class="search">
    <input type="search" name="searchbar" placeholder="Search a summoner">
    <button type="submit">
      <img id="searchicon" src="assets/img/search.png" alt="">
    </button>
  </div>
  <a [routerLink]="['/register']" id="signup">
    <img src="assets/img/plus.png" alt="" width="40px">
    <p>Inscris-toi pour encore plus de fonctionnalités.</p>
  </a>
</div>
