<div class="content">
  <div class="search">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <input type="search" name="searchbar" formControlName="search" placeholder="Search a summoner">
    <button type="submit">
      <img id="searchicon" src="assets/img/search.png" alt="">
    </button>
    </form>
  </div>
  <a [routerLink]="['/register']" id="signup">
    <img src="assets/img/plus.png" alt="" width="40px">
    <p>Inscris-toi pour encore plus de fonctionnalités.</p>
  </a>
</div>
