<div class="content">
  <h2 class="title">Search</h2>
  <div class="search">
    <form class="form-horizontal" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
      <div class="input-group input-group-bg">
        <input type="search" name="searchbar" formControlName="search" placeholder="Search a summoner">
        <button class="btn" type="submit"><i class="bi bi-check-lg icon-validator"></i></button>
      </div>
    </form>
  </div>
  <div id="signup">
    <p class="sign-up">for more features</p>
    <a class="sign-up-button" href="#" routerLink="/register">sign-up</a>
    <p class="sign-in-text">Already have an account? <a href="#" class="sign-in" routerLink="/login">Sign in →</a></p>
  </div>
</div>
