<div class="content">
  <h2 class="title">My favorites</h2>
  <div class="user">
    <div class="userleft">
      <img class="profilpic" src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="">
      <p class="username">Azerty</p>
    </div>
    <i class="bi bi-heart-fill"></i>
  </div>

  <div class="user">
    <div class="userleft">
      <img class="profilpic" src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="">
      <p class="username">Azerty</p>
    </div>
    <i class="bi bi-heart-fill"></i>
  </div>

  <div class="user">
    <div class="userleft">
      <img class="profilpic" src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="">
      <p class="username">Azerty</p>
    </div>
    <i class="bi bi-heart-fill"></i>
  </div>

  <div class="user">
    <div class="userleft">
      <img class="profilpic" src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="">
      <p class="username">Azerty</p>
    </div>
    <i class="bi bi-heart-fill"></i>
  </div>

  <div class="user">
    <div class="userleft">
      <img class="profilpic" src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="">
      <p class="username">Azerty</p>
    </div>
    <i class="bi bi-heart-fill"></i>
  </div>

  <div class="user">
    <div class="userleft">
      <img class="profilpic" src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="">
      <p class="username">Azerty</p>
    </div>
    <i class="bi bi-heart-fill"></i>
  </div>

  <div class="user">
    <div class="userleft">
      <img class="profilpic" src="https://opgg-static.akamaized.net/images/profile_icons/profileIcon29.jpg?image=q_auto:best&v=1518361200" alt="">
      <p class="username">Azerty</p>
    </div>
    <i class="bi bi-heart-fill"></i>
  </div>
</div>
