<p>register works!</p>
<form (ngSubmit)="onSubmit()">

  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" class="form-control" id="name" required name="name">
  </div>

  <div class="form-group">
    <label for="weight">Poids</label>
    <input type="text" class="form-control" id="weight" required name="weight">
  </div>

  <div class="form-group">
    <label for="age">Age</label>
    <input type="text" class="form-control" id="age" required name="age">
  </div>
</form>
